# Data collection
yfinance
pandas
requests
python-dotenv
beautifulsoup4
newspaper3k
numpy

# API access
# alpha-vantage
finnhub-python

# Data processing
nltk
scipy

# Utilities
tqdm
pickle

# Data Analysis
transformers
torch
matplotlib